.perfil {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
    height: 9em;
    padding: 4.06em 0em 1.37em 1em;
}

.perfil__foto {
    max-width: 100%;
    width: 3.57em;
    border-radius: 2em;
}

.perfil__informacoes {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    
}

.perfil__informacoes h3 {
    font-weight: 700;
    font-size: 1.37em;
    line-height: 2.2em;
    color: var(--cor-de-texto-principal);
}

.perfil__informacoes h4 {
    font-weight: 400;
    font-size: 0.87em;
    line-height: 1.4em;
    color: var(--cor-de-texto-secundaria);
}

@media screen and (min-width: 768px) {
    .perfil__foto {
        width: 4.57em;
        border-radius: 3em;
    }

    .perfil__informacoes h3 {
        font-size: 1.60em;
    }
    
    .perfil__informacoes h4 {
        font-size: 1em;
    }
}

@media screen and (min-width: 1024px) {
    .perfil {
        margin-bottom: 1.3em;
    }
    .perfil__foto {
        width: 7em;
        border-radius: 6em;
    }

    .perfil__informacoes h3 {
        font-size: 2em;
    }
    
    .perfil__informacoes h4 {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 1440px) {
    .perfil {
        margin-bottom: 1.6em;
    }
    
    .perfil__foto {
        width: 9em;
        border-radius: 6em;
    }

    .perfil__informacoes h3 {
        font-size: 2.3em;
    }
    
    .perfil__informacoes h4 {
        font-size: 1.6em;
    }
}